$cornflower-blue: #476df1;
$white: #ffffff;
$black: #0b0204;
$ink-black: #252525;
$smokey-black: #3e3e3e;
$real-black: #000000;
$mint-green: #c7ecc1;
$forest-green: #3eab2c;
$spring-green: #45be31;
$spring-green-10: rgba($spring-green, 10%);
$honey-dew: #daf2d6;
$aquamarine-green: #31b6be;
$lime-green: #4cd635;
$cherry-red: #ec1940;
$cherry-red-10: rgba($cherry-red, 10%);
$watermelon-red: #ff1540;
$cornflower-blue: #476df1;
$violet-blue: #7A98FF;
$pumpkin-orange: #f88114;
$mandarin-orange: #f7a513;
$midnight-blue: #2c3141;
$storm-blue: #565a67;
$cloudy-blue: #80838d;
$metal-blue: #c0c1c6;
$foggy-blue: #dfe0e2;
$silver-blue: #eaeaec;
$ash-blue: #f5f6f6;
$ghost-blue: #f9f9f9;
$cornflower-blue-10: rgba($cornflower-blue, 10%);
$cornflower-blue-15: rgba($cornflower-blue, 15%);
$iris-blue: #294cc7;
$breeze-blue: #D6DFFF;
$grey: #e0e0e3; //TODO Change name
