.wfw-empty-state {
  padding: 30px;
  width: 100%;
  display: flex;
  background-color: $ash-blue;
  border-radius: 10px;
  box-sizing: border-box;

  &__img {
    background-color: $white;
    width: 267px;
    height: 118px;
    border-radius: 10px;
    margin-right: 24px;
  }

  &__container {
    flex: 1 0;
  }

  &__title {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 4px;
  }

  p {
    margin-top: 0;
    margin-bottom: 10px;
  }

  a {
    display: inline-block;
    margin-top: 20px;
  }
}
