<div class="wfw-forms" @animate>
  <h1>Forms</h1>
  <div class="wfw-form-box wfw-form-box--existing">
    <div class="wfw-form-box__text">My form</div>
    <a
      routerLink="/wfw-forms/fields"
      class="ico--settings ico-after-color--midnight-blue ico-glow ico-size--md"
    ></a>
    <a routerLink="/wfw-campaigns" class="wfw-form-box__shortcode">
      Place Woodpecker connector on any page to make your form work
    </a>
  </div>
  <div class="wfw-forms__container">
    <div class="wfw-forms__left">
      <iframe
        class="video-player"
        src="https://www.youtube.com/embed/K4y5HRaiiM8?rel=0&amp;showinfo=0&amp;loop=1&amp;modestbranding=0&amp;controls=1&amp;&amp;mute=1"
      ></iframe>
      <h2>Why would you use the Woodpecker WordPress Plugin?</h2>

      <div class="wfw-list-box">
        <h3>Key benefits</h3>
        <ul>
          <li>
            Makes it easy to get contacts from your WordPress-based website
          </li>
          <li>You'll never lose a lead again</li>
          <li>You can contact only the interested ones</li>
          <li>Your leads decide to leave your data with you</li>
        </ul>
      </div>

      <div class="wfw-list-box">
        <h3>Plugin features</h3>
        <ul>
          <li>Get prospects from your WordPress web page</li>
          <li>
            You can list campaigns and prospects, and generate subscribe forms
          </li>
          <li>Easy and accessible shortcodes</li>
          <li>
            Manage your forms easily (note: you can use our good-looking form,
            but we also offer clear subscribe forms if you need them)
          </li>
        </ul>
      </div>
    </div>
    <div class="wfw-forms__right">
      <div class="wfw-info-box">
        <h3>
          Woodpecker WordPress Plugin allows you to integrate your Woodpecker
          account with your WordPress website.
        </h3>
        <div class="wfw-info-box__content">
          You can use it to send contact information of the prospects who filled
          out the form placed on your website directly into your Woodpecker
          campaign.
        </div>
        <a href="https://woodpecker.co/help/woodpecker-for-wordpress-plugin/" target="_blank">Check our guide and learn how to set it up step by step</a>
        <div class="wfw-info-box__image"></div>
      </div>

      <div class="wfw-info-box">
        <h3>Don't have a Woodpecker account yet?</h3>
        <div class="wfw-info-box__content">
          To use the Woodpecker WordPress Plugin, you need to have an active
          Woodpecker account on the Team Pro plan or be an Agency user.
        </div>
        <a href="https://woodpecker.co/signup/" target="_blank">Sign up now</a>
        <div class="wfw-info-box__img img--sign-up"></div>
      </div>
    </div>
  </div>
</div>
